# Backend Express Server HTTP Port
PORT=3000

# MongoDB Connection String (Atlas Cloud / Local)
MONGODB_URI=mongodb://127.0.0.1:27017/sentry-home

# MQTT Ingestion Broker & Topic
MQTT_BROKER_URL=mqtt://broker.hivemq.com:1883
MQTT_TELEMETRY_TOPIC=sentry-home/telemetry
